// ~~~~~~~  1600  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:1600px) {
  .header .logo svg {
    width: 250px;
    height: 250px;
  }
  .header .car-photo img {
    max-width: 1745px;
    width: auto;
  }

  .logos .wrap-text svg {
    width: 550px;
  }
  .logos .wrap-white svg {
    width: 250px;
  }
}

// ~~~~~~~  1440  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:1440px) {
  .manufacture .manufacture__info-img img,
  .manufacture .manufacture__info-wrapper {
    max-width: 410px;
  }
  .manufacture .pic-4 {
    width: 225px;
  }
  .manufacture .pic-3 {
    right: -193px;
  }
  .manufacture__photos-right {
    display: none;
  }
  .manufacture__photos {
    width: 50%;
  }
  .manufacture .manufacture__info-text span {
    font-size: 22px;
    line-height: 26px;
  }
  .menu__item {
    margin-left: 30px;
  }
  .manufacture .printer {
    margin-left: -15px;
    &__item {

      margin-left: 15px;
    }
  }
}

// ~~~~~~~  1280  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:1280px) {
  .footer__img {
    display: flex;
    align-items: center;
  }
  .footer__info {
    max-width: 340px;
  }
  .footer__text {
    font-size: 114px;
  }
  .footer__item.alpha-vinil {
    justify-content: space-between;
  }
  .footer__item.alpha-vinil .alpha-white {
    margin-right: 10px;
  }
  .logos .wrap-text svg {
    width: 530px;
  }
  .logos .wrap-white svg {
    width: 240px;
  }
  .logos .vinyl-white svg {
    width: 200px;
  }
  .pictures img {
    width: 100%;
  }
  .logos {
    height: 500px;
  }
  .link--block {
    display: block;
    margin-left: 40px;
  }
}
// ~~~~~~~  1250  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:1250px) {
  .video__item {
    iframe,
    video,
    img {
      margin-left: 30px;
    }
  }
}

// ~~~~~~~  1200  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:1200px) {
  .footer__text{
    display: none;
  }
  .footer__text.footer__text-responsive {
    display: flex;
  }
  .header__info,
  .link-phone {
    letter-spacing: 3px;
  }
  .logos {
    height: 480px;
  }
  .logos .wrap-white svg {
    width: 200px;
  }
  .logos .wrap-text svg {
    width: 384px;
  }
  .logos .vinyl-white svg {
    width: 175px;
  }
  .menu__item {
    margin-left: 15px;
  }

}


// ~~~~~~~  1100  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:1100px) {
  .manufacture .manufacture__info-text span {
    font-size: 20px;
    line-height: 24px;
  }
  .car-info {
    letter-spacing: 2px;
  }
}

// ~~~~~~~  1023  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:1023px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header {
    margin-top: 70px;
  }
  .animated-fadeInLeft,
  .animated-fadeInRight,
  .animated-fadeInDownBig {
    animation: none;
  }
  .header .logo svg {
    width: 190px;
    height: 190px;
  }

  .manufacture {
    display: block;
  }
  .manufacture .manufacture__info {
    margin: 0;
  }
  .manufacture .manufacture__info-img img, .manufacture .manufacture__info-wrapper {
    max-width: 100%;
  }
  .manufacture__info-img {
    text-align: center;
  }
  .manufacture__pic.pic-1,
  .manufacture__pic.pic-2,
  .manufacture__pic.pic-3,
  .manufacture__pic.pic-4 {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .manufacture__info-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
  }
  .manufacture__photos {
    width: 100%;
  }
  .manufacture__photos-left,
  .manufacture__photos-right {
    margin: 0 auto;
  }
  .manufacture__photos-right {
    display: block;
  }
  .manufacture .printer {
    justify-content: center;
  }
  .footer__img,
  .footer__info {
    flex-basis: 50%;
  }
  .footer__info {
    max-width: 100%;
    text-align: center;

  }
  .footer__item.alpha-text {
    margin: 0 auto;
  }
  .footer__item.alpha-vinil {
    justify-content: space-around;
  }
  .footer__item.alpha-vinil {
    margin: 40px 0;
  }
  .footer__contacts {
    font-size: 22px;
    line-height: 30px;
  }

  .navigation {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    padding: 0 50px;
    background:
    linear-gradient(0deg, transparent 0, #000 0) top right;
    &__wrapper {
      max-width: 1200px;
      height: 100px;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
    }
    &__logo {
      width: 15%;
    }
    &__item {
      margin-left: 0;
    }

  }
  .navigation__item a.navigation__link {
    font-size: 22px;
    line-height: 1.1em;
    margin-bottom: 0;
  }

  .menu__list {
    margin: 0;
    padding-top: 50px;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 400px;
    background-color: #000;
    transform: translateX(-100%);
    transition: all .3s ease-in;
    height: 100vh;
    &.active {
      transform: translateX(0);
    }
  }
  .menu__item {
    margin-left: 0;
    margin-bottom: 30px;
    a {
      font-size: 22px;
    }
  }
  .menu .navigation__btn {
    display: block;
  }
  .menu__wrapper {
    max-width: 700px;
  }
  .menu__logo {
    width: 100px;
  }
}




// ~~~~~~~  950  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:950px) {
  .logos {
    height: 380px;
  }
  .logos .wrap-white svg,
  .logos .vinyl-white svg {
    width: 150px;
  }
  .logos .wrap-text svg {
    width: 300px;
  }

  .aston-martin .car-info,
  .kamaz .car-info {
    width: 45%;
    height: 26%;
  }
  .skyline-r32 .car-info {
    width: 47%;
    height: 24%;
  }
  .silvia-s14 .car-info {
    margin-top: 0;
  }
  .mercedes::after {
    display: none;
  }
  .footer__contacts {
    font-size: 20px;
    line-height: 36px;
  }

}

// ~~~~~~~  850  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:850px) {
  .car-info {
    height: 25%;
  }
  .aston-martin .car-info {
    width: 47%;
  }
  .skyline-r32 .car-info,
  .kamaz .car-info {
    width: 49%;
  }
  .car-info {
    letter-spacing: 1px;
  }
}

// ~~~~~~~  780  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:780px) {
  .header .logo svg {
    width: 130px;
    height: 130px;
  }

  .logos {
    height: 280px;
  }
  .logos .wrap-white svg,
  .logos .vinyl-white svg {
    width: 120px;
  }
  .logos .wrap-text svg {
    width: 250px;
  }
  .silvia-s14 .car-info {
    margin-top: 0;
  }
  .manufacture__pic.pic-1 {
    width: 100px;
  }
  .manufacture__pic.pic-2 {
    width: 110px;
  }
  .manufacture__pic.pic-3 {
    width: 125px;
  }
  .manufacture__pic.pic-4 {
    width: 180px;
  }
  .footer {
    display: block;
  }
  .footer__img {
    max-width: 90%;
    margin: 0 auto;
  }
  .footer__item.alpha-text span::after, .footer__item.alpha-text span::before {
    width: 100%;
  }
  .footer__item.alpha-vinil {
    justify-content: center;
  }
  .footer__item.alpha-vinil .alpha-white {
    margin-right: 30px;
  }
  .link--block {
    display: inline-block;
    margin-left: 0;
  }
}

// ~~~~~~~  750  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:750px) {
  .car-info,
  .aston-martin .car-info,
  .skyline-r32 .car-info,
  .bmw-m3 .car-info,
  .hummer-h3 .car-info,
  .toyota-gt86 .car-info,
  .mini-cooper .car-info,
  .kamaz .car-info {
    width: 100%;
    position: relative;
    padding: 0 50px;
  }
  .car-info__text {
    max-width: 100%;
  }
  .mercedes .car-info__text span {
    display: inline-block;
  }
  .nissan-juke .nissan-juke__left {
    top: 0;
    transform: none;
  }
  .image__big, .text__start {
    display: none;
  }
  .image__media,
  .text__media {
    display: block;
    margin-top: 15px;
  }

  .text__media {
    width: 100%;
    margin: 0 auto 30px auto;
  }

  .image__media.juke__right {
    margin-bottom: 60px;
  }
  .logos {
    height: 100%;
  }
  .header__info {
    position: relative;
  }
  .navigation__logo {
    width: 17%;
  }

}

// ~~~~~~~  720  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:720px) {
  .menu {
    padding: 0 20px;
  }
  .menu__wrapper {
    max-width: 600px;
  }
  .gallery__item {
    width: 250px;
  }
  .btn-up {
    right: 20px;
  }

}

// ~~~~~~~  600  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:600px) {
  .header__info {
    max-width: 100%;
    height: 74px;
    position: relative;
  }
  .header .logo svg {
    bottom: 74px;
  }
  .logos {
    height: 210px;
  }
  .logos .wrap-white svg,
  .logos .vinyl-white svg {
    width: 100px;
  }
  .logos .wrap-text svg {
    width: 200px;
  }

  .manufacture .manufacture__photos {
    display: block;
  }
  .manufacture .manufacture__photos .manufacture__photo {
    border: none;
    margin-bottom: 15px;
  }
  .manufacture__pic.pic-1 {
    width: 90px;
  }
  .manufacture__pic.pic-2 {
    width: 100px;
  }
  .manufacture__pic.pic-3 {
    width: 120px;
  }
  .manufacture__pic.pic-4 {
    width: 140px;
  }
  .manufacture .manufacture__info-title {
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 0;
  }
  .manufacture__info-img {
    margin-top: 10px;
  }

}

// ~~~~~~~  550 ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:550px) {
  .manufacture .printer {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;


    &__item {
      flex-basis: 90%;
      margin-top: 50px;
      margin-left: 0;
    }
    span {
      margin-top: 5px;
    }
  }
}

// ~~~~~~~  520 ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:520px) {
  .header {

    margin-top: 30px;

  }
  .navigation__wrapper,
  .menu__wrapper {
    max-width: 600px;
    height: 60px;
  }
  .gallery__item {
    width: 200px;
  }
  .gallery {
    margin-top: 60px;
  }
  .navigation__logo {
    width: 70px;
  }
  .menu__logo {
    width: 75px;
  }
}


// ~~~~~~~  480  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:480px) {
  .logos {
    height: 210px;
  }
  .logos .wrap-white svg,
  .logos .vinyl-white svg {
    width: 80px;
  }
  .logos .wrap-text svg {
    width: 160px;
  }
  .porsche-911.car-photo img {
    width: 120%;
  }
  .manufacture__pic {
    display: none;
  }
  .manufacture .manufacture__info-text span {
    letter-spacing: .5px;
    margin-top: 15px;
  }
  .manufacture .manufacture__info-title {
    font-size: 24px;
    margin-bottom: 0;
  }
  .manufacture__info-img {
    margin: 15px 0;
  }
  .footer__item.alpha-vinil .alpha-white,
  .footer__item.alpha-vinil .vinyl-white {
    width: 140px;
  }
  .footer__item.alpha-vinil {
    margin: 30px 0;
  }
  .footer__info {
    margin: 0;
    margin-bottom: 15px;
  }
}

// ~~~~~~~  420  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:420px) {
  .gallery__item {
    width: 140px;
  }
}

// ~~~~~~~  400  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:400px) {
  .header__info {
    padding-top: 7px;
  }
  .logos {
    height: 120px;
  }
  .alpha-text svg{
    width: 220px;
  }
  .footer__item.alpha-text span {
    max-width: 220px;
    font-size: 22px;
  }
  .footer__item.alpha-vinil {
    margin: 20px 0;
  }
  .footer__item.alpha-vinil .alpha-white, .footer__item.alpha-vinil .vinyl-white {
    width: 126px;
  }
  .footer__contacts {
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 1px;
    margin: 0 15px;
  }
}

// ~~~~~~~  380  ~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~
@media (max-width:380px) {
  .logos .wrap-white svg,
  .logos .vinyl-white svg {
    width: 65px;
  }
  .logos .wrap-text svg {
    width: 135px;
  }
  .car-info {
    margin-top: 24px;
  }
  .manufacture {
    margin: 25px 15px;
  }
  .manufacture .manufacture__info-title {
    font-size: 22px;
  }
  .manufacture .manufacture__info-text span {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
  }
}
