@import "animated";
@import "libs";
@import "fonts";

html {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  position: relative;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;

}

body {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 29px;
  line-height: 34px;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 400;
  background-color: #000;
}

.container {
  overflow: hidden;
}

.main {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;

}

.car-photo {
  position: relative;
  img {
    width: 100%;
  }
}
section {
  display: flex;
  align-items: center;
}

.btn-up {
  position: fixed;
  z-index: 999999;
  bottom: 50px;
  right: 50px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  opacity: 0.7;
  img {
    display: block;
    width: 100%;
    animation-name: arrowDown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
}
.fp-viewing-slide1 .btn-up {
  display: none;
}



@keyframes arrowDown {
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
}


// ~~~~~~~ Текст у картинок ~~~~~~~
.car-info {
  width: 35%;
  height: 22%;
  font-size: calc(14px + (29 - 14) * (100vw - 400px) / (1920 - 400));
  line-height: 1.1em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 2;
  &__title {
    font-size: calc(14px + (29 - 14) * (100vw - 400px) / (1920 - 400));
    line-height: 1.1em;
    margin-bottom: 7px;
    font-weight: 700;
  }
}
.car-info--right {
  right: 0;
  left: auto;
}

// ~~~~~~~ Картинки и текст, включающиеся при адаптиве ~~~~~~~
.image__media,
.text__media {
  display: none;
}


.link {
  position: relative;
  &::after {
    content: '';
    width: 0px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .5s;
  }
  &:hover::after {
    width: 100%;
  }
}

// ~~~~~~~ Header ~~~~~~~
.header {
  max-width: 1920px;
  width: 100%;
  position: relative;
  .logo svg {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background-color: #000;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    box-shadow: 0px 0px 20px #fff;
    transition: all ease-in 0.5s;
    animation: shadow ease-in 3s;
    &:hover {
      box-shadow: 0px 0px 30px #ff003e;
    }
  }
  .st0{fill:#2B2A29;}
  .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#FF003E;}
}

.header__info {
  width: 38%;
  height: 16%;
  padding-top: 10px;

  font-size: calc(12px + (37 - 12) * (100vw - 400px) / (1920 - 400));
  line-height: 1.1em;
  letter-spacing: 5px;
  font-weight: 300;

  background-color: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 2;

  &-text span{
    display: block;
    // margin-top: 5px;
  }
}

.link-phone {
  font-size: calc(12px + (37 - 12) * (100vw - 400px) / (1920 - 400));
  line-height: 1.1em;
  letter-spacing: 5px;
  font-weight: 300;
  position: relative;
}

// ~~~~~~~ Logos ~~~~~~~
.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  height: 934px;
  background-color: #000;
  &__item {
    margin: 0 10px;
  }
  .wrap-white svg {
    width: 282px;
  }
  .wrap-text svg {
    width: 670px;
  }
  .vinyl-white svg {
    width: 235px;
  }
}

// ~~~~~~~ FREIGHTLINER ~~~~~~~

.freightliner__top {
  background-color: #000;
}
.freightliner__bottom {
  background-color: #000;
  .car-info {
    bottom: 0;
    top: auto;
  }
}

// ~~~~~~~ BMW E30 ~~~~~~~
.bmw-e30 {
  background-color: #000;
  .car-info__text {
    max-width: 570px;
  }
}

// ~~~~~~~ TOYOTA SOARER ~~~~~~~
.toyota-soarer {
  background-color: #000;
  .car-info__text {
    max-width: 400px;
  }
}

// ~~~~~~~ MERCEDES ~~~~~~~
.mercedes {
  background-color: #000;
  .car-info__text span {
    display: block;
  }
}

// ~~~~~~~ COSMIC NORMA ~~~~~~~
.cosmic-norma {
  background-color: #000;
  .car-info__text {
    max-width: 570px;
  }
}

// ~~~~~~~ COSMIC NORMA ~~~~~~~
.hummer-h3 {
  background-color: #000;
  .car-info {
    width: 32%;
  }
  .car-info__text {
    max-width: 450px;
  }
}

// ~~~~~~~ TOYOTA GT86 ~~~~~~~
.toyota-gt86 {
  background-color: #000;
  .car-info {
    width: 30%;
  }
  .car-info__text {
    max-width: 310px;
    margin: 0 auto;
  }
}

// ~~~~~~~ ASTON MARTIN ~~~~~~~
.aston-martin {
  background-color: #000;
  .car-info {
    width: 41%;
    letter-spacing: 1px;
  }
}

// ~~~~~~~ BMW M3 ~~~~~~~
.bmw-m3 {
  background-color: #000;
  .car-info {
    width: 37%;
  }
  .car-info__text {
    max-width: 480px;
  }
}

// ~~~~~~~ RADICAL RXC ~~~~~~~
.radical-rxc {
  background-color: #000;
  .car-info {
    right: 50%;
    transform: translateX(50%);
    left: auto;
  }
  .car-info__text {
    max-width: 530px;
  }
}

// ~~~~~~~ PORSCHE 911 ~~~~~~~
.porsche-911 {
  background-color: #000;
  .car-info__text {
    max-width: 450px;
  }
}

// ~~~~~~~ SILVIA S15 ~~~~~~~
.silvia-s15 {
  background-color: #000;
  max-width: 1760px;
  margin: 0;
  margin-left: auto;
  .car-info__text {
    max-width: 650px;
  }
}

// ~~~~~~~ SKYLINE R32 ~~~~~~~
.skyline-r32 {
  background-color: #000;
  max-width: 1760px;
  .car-info {
    width: 43%;
  }
  .car-info__text {
    max-width: 650px;
  }
}

// ~~~~~~~ MINI COOPER ~~~~~~~
.mini-cooper {
  .car-info {
    width: 33%;
  }
}

// ~~~~~~~ KAMAZ ~~~~~~~
.kamaz {
  background-color: #000;
  .car-info {
    width: 41%;
  }
}

// ~~~~~~~ BOLID ~~~~~~~
.bolid {
  background-color: #000;
  .car-info__text {
    max-width: 610px;
  }

}

// ~~~~~~~ HONDA S2000 ~~~~~~~
.honda-s2000 {
  background-color: #000;

  .car-info__text {
    max-width: 400px;
  }
}

// ~~~~~~~ NISSAN JUKE R ~~~~~~~
.nissan-juke {
  width: 100%;
  .nissan-juke__left {
    top: 50%;
    transform: translateY(-50%);
  }
}

// ~~~~~~~ MANUFACTURE ~~~~~~~
.manufacture {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  margin: 25px;

  .manufacture__info {
    margin: 0 120px 0 10px;
    position: relative;
    &-wrapper {
      max-width: 580px;
    }
    &-title {
      font-size: 29px;
      line-height: 34px;
      text-align: center;
      margin-bottom: 15px;
    }
    &-img img {
      max-width: 560px;
    }
  }

  .printer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: -25px;
    &__item {
      flex-basis: 45%;
      margin-top: 30px;
      margin-left: 25px;
      transition: opacity 0.3s ease-in;
      text-align: center;
      &:hover {
        opacity: .7;
      }
      img {
        width: 100%;
      }
    }
    span {
      display: block;
      font-size: 24px;
      letter-spacing: 0;
      line-height: 29px;
      margin-top: 20px;
    }
  }

  .manufacture__photos {
    display: flex;
    background-color: #000;

    .manufacture__photo {
      border: 10px solid #000;
      border-right: none;
      border-bottom: none;
    }
    &-left {
      .manufacture__photo img {
        display: block;
        width: 100%;
      }
    }
    &-right {
      .manufacture__photo img {
        display: block;
        width: 100%;
      }
    }
  }
  &__pic {
    position: absolute;
  }
  .pic-1 {
    width: 120px;
    top: 32%;
    right: -175px;
    transform: rotate(-18deg);
    z-index: 1;
  }
  .pic-2 {
    width: 180px;
    top: 41%;
    right: -210px;
    transform: rotate(12deg);
    z-index: 1;
  }
  .pic-3 {
    width: 165px;
    top: 83%;
    right: -145px;
    transform: rotate(-18deg);
    z-index: 1;
    border-radius: 7px;
  }
  .pic-4 {
    width: 270px;
    top: 60%;
    right: -240px;
    transform: rotate(-5deg);
  }
}

// ~~~~~~~ Footer ~~~~~~~
footer {
  display: flex;
  align-items: center;
}
.footer {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  &__img {
    max-width: 1107px;
    width: 100%;
    img {
      width: 100%;
      margin: 20px 0;
    }
  }

  &__info {
    max-width: 415px;
    width: 100%;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    color: #434242;
    font-size: 138px;
    line-height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }
}

.footer__item.alpha-text {
  max-width: 400px;
  text-align: center;
  span {
    display: inline-block;
    max-width: 285px;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
    letter-spacing: 10px;

    &::after,
    &::before {
      content: '';
      display: block;
      width: 280px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after {
      height: 3px;
    }
    &::before {
      top: 10px;
    }
  }
}

.footer__item.alpha-vinil {
  display: flex;
  .alpha-white {
    width: 182px;
    margin-right: 70px;
  }
  .vinyl-white {
    width: 154px;
  }
}
.footer__contacts {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 1px;
}
.footer__item-email {
  display: inline-block;
}

.footer__item-insta {
  display: inline-block;
  svg {
    width: 20px;
    height: 20px;
  }
}


// ~~~~~~~ Gallery ~~~~~~~
.gallery {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

.gallery__wrapper {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.gallery__item {
  display: block;
  float: left;
  width: 350px;
  margin-bottom: 20px;
  img {
    display: block;
    width: 100%;
  }
}

// ~~~~~~~ Video ~~~~~~~
.video {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 50px;
}
.video__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -30px;
}
.video__item {
  margin-bottom: 20px;
  iframe, video, img {
    max-width: 560px;
    width: 100%;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

// ~~~~~~~ Menu ~~~~~~~
.menu {
  position: fixed;
  z-index: 100;
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 50px;
  &__wrapper {
    max-width: 1500px;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 10%;
  }
  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
    margin-left: 50px;
    a {
      font-size: calc(14px + (29 - 14) * (100vw - 400px) / (1920 - 400));
      line-height: 1.1em;
      transition: opacity .3s ease-in;
      &:hover {
        opacity: .5;
      }
    }
  }
  .navigation__btn {
    display: none;
  }
}

// ~~~~~~~ Navigation ~~~~~~~
.navigation {
  position: fixed;
  z-index: 100;
  background-color: #000;
  left: 0;
  bottom: 0;
  width: 15%;
  background:
  linear-gradient(-160deg, transparent 35px, #000 0) top right;
  &__wrapper {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

  }
  &__logo {
    margin-top: 7px;
    width: 150px;
    margin-bottom: 0;
  }
  &__btn {
    cursor: pointer;
  }

}

.navigation__menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 400px;
  z-index: 100;
  background-color: #000;
  transform: translateX(-100%);

  list-style: none;
  margin: 0;
  padding: 0;
  transition: all .3s ease-in;
  &.active {
    transform: translateX(0);
  }
}
.navigation__item {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  a.navigation__link {
    width: 300px;
    font-size: calc(14px + (29 - 14) * (100vw - 400px) / (1920 - 400));
    line-height: 1.1em;
    margin-left: 0;
    margin-bottom: 50px;
    transition: opacity .3s ease-in;
    &:hover {
      opacity: .5;
    }

  }
}

.btn-close {
  db
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;
  cursor: pointer;
  &::after,
  &::before {
    content: '';
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 50px;
    top: 30px;
    z-index: 200;
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
}

.menu__list .btn-close {
  display: none;
}

.menu__list.active .btn-close {
  display: block;
}

/*
*frdsbs
!dsfbsbg
?dfgbsb
TODO
*/





@import "media";
